<nav class="navbar light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 id="logo-text" class="title is-5">{{ title }}</h1>
    </a>
  </div>
  <!-- <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      (click)="toggleMenu()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

   <div
    id="navbarBasicExample"
    class="navbar-menu "
    [ngClass]="{ 'is-active': isActive }"
  >
    <div class="navbar-end level">
      <div class="level-item has-text-centered">
        <a
          id="gh-link"
          class="button is-rounded is-outlined"
          href="https://github.com/alexNeto/lada-app"
          rel="noreferrer"
          target="_blank"
          ><i class="fab fa-github"></i
        ></a>
        <app-toggle
          [toggleId]="'theme-selector'"
          [frontIcon]="'far fa-lightbulb'"
        ></app-toggle>
      </div>
    </div>
  </div> -->
</nav>
