<nav class="navbar is-white light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 id="logo-text" class="title is-5">{{ title }}</h1>
    </a>

    <a
      [ngClass]="{ 'is-active': isActive }"
      role="button"
      (click)="toggleMenu()"
      class="navbar-burger burger "
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div
    [ngClass]="{ 'is-active': isActive }"
    id="navbarBasicExample"
    class="navbar-menu "
  >
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider" />
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>

      <a class="navbar-item">
        Home
      </a>
      <div class="navbar-item">
        <a
          class="button  is-primary is-active"
          [ngClass]="{
            'is-active': settings.temperatureScale == 'C',
            'is-inverted': settings.temperatureScale != 'C'
          }"
          (click)="toggleTemperatureScale('C')"
          >ºC</a
        >
        <a
          class="button is-primary  is-inverted"
          [ngClass]="{
            'is-active': settings.temperatureScale == 'F',
            'is-inverted': settings.temperatureScale != 'F'
          }"
          (click)="toggleTemperatureScale('F')"
          >ºF</a
        >
      </div>
    </div>
  </div>
</nav>
