<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 id="logo-text" class="title is-5">{{ title }}</h1>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end level">
      <div class="level-item has-text-centered">
        <app-toggle
          [toggleId]="'theme-selector'"
          [frontIcon]="'far fa-lightbulb'"
        ></app-toggle>
      </div>
    </div>
  </div>
</nav>
