@import "../../../styles.scss";

label {
  color: $gray-2;
}

#frontLabel {
  margin-right: 3px;
}

.switch[type="checkbox"] + label::before,
.switch[type="checkbox"] + label:before {
  border: 1px solid transparent;
  background: $gray-2;
}

.switch[type="checkbox"]:checked + label::before,
.switch[type="checkbox"]:checked + label:before {
  background: $blue-2;
}

.switch[type="checkbox"].is-thin + label::after,
.switch[type="checkbox"].is-thin + label:after {
  box-shadow: 0px 0px 3px $gray-2;
}
