@import "../../../styles.scss";

$source-size: 768px;

.line {
  width: 1px;
  height: 169px;
  background: rgba($color: $gray-4, $alpha: 0.6);
  align-self: center;
  @media screen and (max-width: 425px) {
    background: transparent;
  }
}

#weather-card {
  @include flex-box(row, space-between);
  flex-wrap: wrap;
  margin-top: 3rem;
  @media screen and (max-width: 375px) {
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  }
}

.light {
  background-color: $white;
  @include common-shadow();
}

.dark {
  background-color: $black;
  @include common-border();
}

#weather-primary-info {
  @include flex-box(row, baseline);
  @media screen and (max-width: 425px) {
    align-items: end;
    margin-bottom: -4rem;
    justify-content: center;
    width: 100%;
  }
}

#weather-secondary-info {
  @include flex-box(column, space-between);
  @media screen and (max-width: $source-size) {
    flex-direction: row;
    width: 100%;
    margin: 10px 0 0 0;
    align-items: center;
  }
}

#weather-condition-container {
  @include flex-box(column, space-evenly);
  height: auto;
  align-self: center;
  justify-self: self-end;
  margin-top: -2rem;
  margin-right: 1rem;
  align-self: normal;
  @media screen and (max-width: 425px) {
    font-size: 1em;
  }
}

.total-width {
  width: 100%;
}

#weather-condition-icon {
  vertical-align: middle;
  margin-top: -2.5rem;
  margin-bottom: -3rem;
  width: 100%;
  @media screen and (max-width: 425px) {
    margin-top: -4rem;
    margin-bottom: 0rem;
  }
}

#weather-today-condition {
  @include flex-box(column, space-around);
  font-family: $main-font;
  font-weight: 200;
  font-size: 1.85em;
  text-align: start;
  margin-left: 0.25em;
  color: $gray-4;
  width: 100%;
  @media screen and (max-width: $source-size) {
    font-size: 1.5em;
  }
  @media screen and (max-width: 425px) {
    font-size: 1.25em;
    margin-left: 10%;
  }
}

#weather-card-source {
  font-family: $main-font;
  font-weight: 200;
  font-size: 1.85em;
  text-align: end;
  color: $gray-4;
  @media screen and (max-width: $source-size) {
    font-size: 1.25em;
    text-align: start;
  }
}

#weather-current-temperature {
  font-family: $main-font;
  font-weight: 200;
  font-size: 3.7em;
  text-align: center;
  color: $gray-4;
  @media screen and (max-width: 375px) {
    font-size: 3em;
  }
  @media screen and (max-width: 320px) {
    font-size: 2.25em;
  }
}

.notification {
  @media screen and (max-width: 1023px) {
    border-radius: 0;
  }
}

img {
  width: 10%;
  height: auto;
}

.min-max-aling {
  display: flex;
  justify-content: start;
  align-items: center;
}
