<div
  *ngIf="card && card.dayResume; else placeholder"
  id="weather-card"
  class="notification light"
>
  <div id="weather-primary-info">
    <div
      id="weather-condition-container"
      [ngClass]="{ 'total-width': !dayResume.currentWeather }"
    >
      <div *ngIf="dayResume.currentWeather">
        <p id="weather-current-temperature">
          {{ dayResume.currentWeather | temperature: temperatureScale }}
        </p>
      </div>
      <div>
        <img
          *ngIf="dayResume.weatherCondition !== ''"
          id="weather-condition-icon"
          src="/assets/svg/weather/animated/{{
            dayResume.weatherCondition
          }}.svg"
          alt="weather condition"
        />
      </div>
    </div>
    <div class="line"></div>
    <div id="weather-today-condition">
      <div class="min-max-aling">
        <img
          src="/assets/svg/up-arrow.svg"
          alt="icone para temperatura máxima"
          srcset=""
        />
        <p>
          {{ dayResume.maximumTemperature | temperature: temperatureScale }}
        </p>
      </div>
      <div class="min-max-aling">
        <img
          src="/assets/svg/down-arrow.svg"
          alt="icone para temperatura mínima"
          srcset=""
        />
        <p>
          {{ dayResume.minimumTemperature | temperature: temperatureScale }}
        </p>
      </div>
      <div class="min-max-aling">
        <img
          src="/assets/svg/drop.svg"
          alt="icone para probabilidade de chuva"
          srcset=""
        />
        <p>{{ dayResume.rainProbability | percent: "2.0-2" }}</p>
      </div>
    </div>
  </div>
  <div id="weather-secondary-info">
    <div>
      <p id="weather-card-source">
        <a
          href="{{ dayResume.link.site.address }}"
          target="_blank"
          rel="noopener noreferrer"
          class="button is-white is-large"
          >{{ dayResume.source }}
        </a>
      </p>
    </div>
    <div>
      <app-vote
        [vote]="vote"
        [isLoadingUpVote]="isLoadingUpVote"
        [isLoadingDownVote]="isLoadingDownVote"
        (makeVote)="onVote($event)"
      ></app-vote>
    </div>
  </div>
</div>

<ng-template #placeholder>
  <div id="weather-card" class="notification light">
    <a class="placeholder button is-loading is-white"></a>
  </div>
</ng-template>
