@import "../../styles.scss";

#tool-panel {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      106.87deg,
      $green-2 0%,
      rgba(255, 255, 255, 0) 100.94%
    ),
    $blue-2;
}
