@import "../../styles.scss";

@mixin tool-panel {
  width: 100%;
  height: 180px;
  align-items: center;
}

#tool-panel {
  @include tool-panel();
  @include flex-box(row, center);
}

.light {
  @include light-gradient();
}

.dark {
  @include dark-gradient();
}
