<mat-card id="weather-resume-item" class="mat-elevation-z6">
  <mat-card-header>
    <mat-card-title>
      <a href="{{ source.dayResume.link }}"> {{ source.dayResume.source }} </a>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile>
        {{ source.dayResume.rainProbability }} de possibilidade de chuva
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="temperatures">
          <div class="maximum">{{ source.dayResume.maximumTemperature }}ºC Máxima</div>
          <div class="margin-between"></div>
          <div class="minimum">{{ source.dayResume.minimumTemperature }}ºC Mínima</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        {{ source.dayResume.weatherCondition }}
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="voteUp()">Confio</button>
    <span id="votes">{{ source.votes }}</span>
    <button mat-raised-button (click)="voteDown()">Não confio</button>
  </mat-card-actions>
</mat-card>