@import "../../../styles.scss";

article {
  @include light-gradient();
  height: 100vh;
  overflow: hidden;
}

.control__link {
  text-decoration: none !important;
}

.notification--light {
  background-color: $white;
  margin-top: 6rem;
  @include common-shadow();
}
