@import "../../../styles.scss";

article {
  @include light-gradient();
  min-height: 100vh;
  padding-bottom: 6rem;
  padding-top: 6rem;
}

section {
  display: block;
}
.control__link {
  text-decoration: none !important;
}

.notification--light {
  background-color: $white;
  @include common-shadow();
}
