<article>
  <div class="container">
    <div class="notification notification--light">
      <header>
        <h1 class="title">Lada-app</h1>
        <h2 class="subtitle">
          Veja e compare previsões de diversas fontes.
        </h2>
      </header>
      <section class="section">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <a
              class="control__link"
              href="https://github.com/alexNeto/lada-app"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="tags has-addons">
                <span class="tag is-dark">app</span>
                <span class="tag is-primary">{{ appVersion }}</span>
              </div>
            </a>
          </div>

          <div class="control">
            <a
              class="control__link"
              href="https://github.com/alexNeto/lada-api"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="tags has-addons">
                <span class="tag is-dark">api</span>
                <span class="tag is-primary">{{ apiVersion }}</span>
              </div>
            </a>
          </div>
        </div>
        <hr />
        <!-- <h3 class="subtitle">O que é?</h3> -->
      </section>

      <footer>
        <address>
          Entre com contato com
          <a
            href="https://github.com/alexNeto"
            target="_blank"
            rel="noopener noreferrer"
            >Alexandre Neto</a
          >
          para questões sobre este projeto.
        </address>
      </footer>
    </div>
  </div>
</article>
