@import "../../../styles.scss";

#search-component {
  display: flex;
  height: 44px;
  z-index: 3;
  margin: 0 auto;
  border-radius: 100px;
  @include search-bar-sizes();
}

.light {
  background: $white;
  @include common-shadow();
}

.dark {
  background: $black;
  border: 1px solid rgba($gray-3, 0.7);
}

#search-auto-complete {
  width: 100%;
}

#search {
  background-color: transparent;
  font-size: large;
  font-family: $main-font;
  border: none;
  margin: 0;
  margin-top: 0px;
  margin-left: 3%;
  padding: 0;
  color: $gray-5;
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  @media screen and (max-width: 370px) {
    font-size: small;
  }
}

#search-button,
#search-gps-button {
  color: $gray-5;
  border-radius: 100%;
  z-index: 2;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  @media screen and (max-width: 370px) {
    font-size: small;
  }
}
