<div id="search-component" class="level light">
  <ng-auto-complete
    id="search-auto-complete"
    (input)="showLocations($event)"
    (selected)="selected($event)"
    (keyup.enter)="search()"
    [classes]="['']"
    [group]="group"
  ></ng-auto-complete>
  <div class="level-item has-text-centered">
    <a id="search-gps-button" class="button" (click)="searchGPS(true)">
      <i class="far fa-compass"></i>
    </a>
    <a id="search-button" class="button" (click)="search()">
      <i class="fas fa-search"></i>
    </a>
  </div>
</div>
