<div id="search-component" class="level light">
  <ng-auto-complete
    id="search-auto-complete"
    (input)="showLocations($event)"
    (selected)="selected($event)"
    (keyup.enter)="search()"
    [classes]="['']"
    [group]="group"
  ></ng-auto-complete>
  <div class="level-item has-text-centered">
    <a
      id="search-gps-button"
      aria-label="procure por GPS"
      class="button tooltip"
      data-tooltip="Pesquisar por GPS"
      (click)="searchGPS(true)"
    >
      <i class="far fa-compass"></i>
    </a>
    <a
      id="search-button"
      aria-label="procure localização inserida"
      class="button tooltip"
      data-tooltip="Pesquisar"
      [ngClass]="{ 'is-loading': isLoading }"
      (click)="search()"
    >
      <i class="fas fa-search"></i>
    </a>
  </div>
</div>
