@import "../../../styles.scss";

#vote-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

p {
  font-family: $main-font;
  font-weight: 200;
  font-size: 1.5em;
  margin-right: 5px;
  margin-left: 5px;
  color: $gray-3;
  @media screen and (max-width: 375px) {
    font-size: 1.25em;
  }
}
