//  Gray
$gray-1: #cccccc;
$gray-2: #a5a5a5;
$gray-3: #8c8c8c;
$gray-4: #727272;
$gray-5: #3f3f3f;
// Blue
$blue-1: #a4c1db;
$blue-2: #79addc; // MAIN
$blue-3: #62a3db;
$blue-4: #4c98db;
$blue-5: #2b89db;
// Green
$green-1: #b9f7c0;
$green-2: #88f795; // MAIN
$green-3: #6ff77f;
$green-4: #56f769;
$green-5: #31f748;
// Red
$red-1: #ffd5bf;
$red-2: #ffb48c; // MAIN
$red-3: #ffa372;
$red-4: #ff9359;
$red-5: #ff7a32;
// Yellow
$yellow-1: #fff5bf;
$yellow-2: #ffed8c; // MAIN
$yellow-3: #ffe972;
$yellow-4: #ffe659;
$yellow-5: #ffe032;

