// Muli
@font-face {
  font-family: Muli;
  src: url(/assets/fonts/Muli/Muli-Regular.ttf) format("truetype");
}

// Montserrant
@font-face {
  font-family: Montserrant;
  src: url(/assets/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}
