@import "scss/colors.scss";
@import "scss/fonts.scss";
@import "scss/mixin.scss";
@import "bulma";

:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

button {
  background: none transparent;
  border: none;
}

.dark {
  background: $black;
}

.light {
  background: $white;
}
